
body{
    font-family: "Poppins", serif;

}
.container{
    width: 80%;
    margin: 40px 40px;
}
.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-menu a{
    gap: 20px;
    font-size: 18px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.801);
    padding-top: 40px;
}
.header-area{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.content-area h1{
    font-size: 3.2em;
}
.header-area .content-area a{
    color: white;
    text-decoration: none;
}
.button{
    border-radius: 15px;
    justify-content: center;
    align-content: center;
    /* align-items: center; */
    padding: 4px 4px;
    background-color: rgb(255, 20, 145);
height: 35px;
width: 150px;
}
.Preebook{
    padding-left: 15px;
}
.image-area img{
    width: 120%;
}
.all-logo{
    padding:10px;
    border-bottom:2px solid rgba(188, 143, 143, 0.247);
    border-top: 2px solid rgba(188, 143, 143, 0.247);
   display: flex;
   justify-content: space-around;
}
#Popular{
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
}
.product-items{
    background-color: white;
}
.product{
    padding: 20px;
    border-radius: 4px;
    gap: 7px;
    box-shadow: 5px 5px 10px;
    background-color: white;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.product-items{
    display: flex;
    /* background-color: rgba(65, 62, 62, 0.151); */
    justify-content: space-around;
}
.product .product-tittle{
    font-size: 35px;
}
.product p{
    font-size: 22px;
}
.ratting i{
    color: orange;
    font-size: 15px;
}
.product p{
    padding: 0;
    margin: 0;
}
.last-section{
    display: flex;
    justify-content: space-between;
}
.last-section h1{
    font-size: 2em;
}
.half-width{
    width: 50%;
}
.last-section a{
    text-decoration: none;
    color: white;
    border-radius: 3px;
    justify-content: center;
    align-content: center;
    /* align-items: center; */
    padding: 4px 4px;
    background-color: rgb(255, 20, 145);
height: 35px;
width: 150px;
}

footer{
    color: white;
    background-color: rgb(2, 2, 53);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
footer p{
    font-size: 15px;
    gap: 0;
    margin: 0;
    padding: 0;
}
.icon i{
    padding: 3px;
    font-size: 2em;
    gap: 6px;
    border-radius: 50px;
    background-color: rgba(169, 169, 169, 0.185);
}